
*{
    font-family: 'Bebas Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #1b1b1f;
    background-image: url(../assets/fondo-page.png);
    background-attachment: fixed;
    background-repeat: no-repeat
    ;
}
.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 100px 1100px 600px;
    grid-template-areas: 
    "header header header header"
    "nav    nav    nav    nav" 
    "main   main   main   aside"
    "footer footer footer footer";
    row-gap: 20px;

}
.cab {
    grid-area: header;
}
.menu__navi {
    grid-area: nav;
}
.content-gral {
    grid-area: main;
}
.aside-content {
    grid-area: aside;
}
.footer-content {
    grid-area: footer;
}
header{
    margin: auto;
    background-color: #1b1b1d;
    background-image: url(../assets/pagina-tatuaje.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 92%;
    border-radius: 29px;
    border: 2px solid #afafaf36;
}    
.redes{
    width: 42px;
    border-radius: 23px;
    margin: 5px;
    border: 2px solid #e6ba67;
}
.redes:hover {
    width: 50px;
}
.logo{
    width: 250px;
    border-radius: 60%; 
    margin-right: 41px;
    border: 5px solid #b1b1b196
}

section h1{
    border: 2px solid #9d78327a;
    background-color: #91743e70;
    width: 204px;
    border-radius: 9px;
    font-size: 37px;
    text-align: center;
    padding: 12px;
    color: #dbdbdbe8;
    cursor: auto;
    margin: 30px 0;
}
.presenta p{
    margin: 0px;
    padding: 15px;
    height: 100%;
}
.presentacion{
    background-color: #e6b9674d;
    border-radius: 13px;
    color: #dbdbdbe5;
    font-size: 21px;
    width: 202px;
    height: 100%;
}
div.valoracion {
    overflow: hidden;
    display: inline-block;
    padding: 0 35px 0 0;
    border: 3px solid #cdb48640;
    border-radius: 10px;
    margin: 0 0 20px 0;
  }
  
  div.valoracion input {
    position: absolute;
    top: -100px;
  }
  
  div.valoracion label {
    float: right;
    color: #333;
    width: 23px;
    font-size: 25px;
    cursor: pointer;
  }
  
  div.valoracion label:hover,
  div.valoracion label:hover ~ label,
  div.valoracion input:checked ~ label {
    color: #bdbd42;
  }
.valora{
    background-color: #e6b9673d;
    border-radius: 12px;
    color: aliceblue;
    font-size: 21px;
    width: 175px;
    height: auto;
    justify-content: center;
    padding: 11px;
    display: flex;
    border: 3px solid #cdb48640; 
}
.indicaciones {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.valorar {
    display: flex;
    flex-direction: column;

}
.cuerpo{
    width: 580px;
    height: 600px;
    overflow: hidden;
    background: scroll;
    display: flex;
    padding-bottom: 180px; 
}
.texto{
    background-color: #e6ba6785;
    font-size: 35px;
    text-align: center;
    width: 350px;
    color: #f1f3f4;
    border-radius: 12px;
}
aside{
    background-color: #18181ac5;
    border-radius: 12px;
    width: 213px;
}
.indicaciones p{
    font-size: 29px;
    text-align-last: center;
    color: #972626;
    text-decoration: underline;
    display: flex;
    align-items: center;
    margin: 14px;
}
.items-tat li{
    border: 2px solid #97262652;
    border-radius: 10px;
    font-size: 18px;
    text-align: left;
    color: #972626;
    list-style: none;
    padding: 12px;
    margin: 12px;

}
article img{
    width: 206px;
    border-radius: 10px;
}
.img-elec p{
    font-size: 18px;
    text-align: center;
    color: #d6d6d6;
}
footer{
    background-color: #18181a96;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}
.logo-footer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid #444444b6;
    margin: 0 45px 0 0;
}
.redes-footer {
    width: 60px;
    border-radius: 30px;
    border: 3px solid #9d9d9d94;
    margin: 4px;
}
.redes-footer:hover {
    width: 70px;
}
.footer-cont {
    display: flex;
    margin: 0 0 0 17px;
}
.footer-c {
    display: flex;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.logo2{
    width: 20%;
    border-radius: 50%;
}
.redes2{
    width: 7%;
    border-radius: 50px;
}
.posttattoo{
    background-color: #18181a77;
    border-radius: 10px;
    width: 900px;
    height: 1000px;
    padding: 10px 30px 30px 30px;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.posttattoo1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cuidados{
    background-color: #e6b9674d;
    border-radius: 10px;
    font-size: 40px;
    text-decoration: underline;
    color: #a7a7a7;
    text-align: center;
    width: 400px; 
    margin-bottom: 45px;
}
.cicatrizado{
    background-color: #e6b9674d;
    border-radius: 10px;
    text-decoration: none;
    font-size: 30px;
    color: #a7a7a7;
    text-align: center;
    width: 700px;
    margin: 20px;
    padding: 15px;
}
.text{
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d6d6d6;
}
.body-carrusel-design {
    width: 800px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titledis{
    background-color: #e6b9674d;
    border-radius: 10px;
    border: 1px #000000;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    width: 500px;
    padding: 10px;
    margin-bottom: 50px;
}
.dis {
    width: 800px;
    height: 800px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.menu{
    background-color: #060606d4;
    border-radius: 20px;
    border: 2px solid #afafaf36;
    font-size: 40px;
    list-style: none;
    text-decoration: none;
    color: #e7e7e7e3;
    cursor: pointer;
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu:hover {
    background-color: #ddddddb4;
    color: #2b2b2be0;
}
.menu2{
    background-color: #060606d4;
    border-radius: 20px;
    font-size: 40px;
    list-style: none;
    text-decoration: none;
    color: #e7e7e7f3;
    cursor: pointer;
}
.formulario{
    background-color: #18181aa6;
    border-radius: 10px;
    font-size: 25px;
    color: #dfdfdf;
    list-style: none;
    width: 682px;
}
main button{
    bottom: unset;
    cursor: pointer;
}
.prod{
    background-color: #0cc4b828;
    border-radius: 10px;
    text-decoration: underline;
    font-size: 47px;
    color: #e7e7e7;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.prod img {
    width: 700px;
}
.prod p {
    font-size: 29px;
    padding: 50px;
    text-decoration: none;
}
.tattoos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.content-tattoos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}
.realizados{
    background-color: #e6b9674d;
    border-radius: 10px;
    border: 1px #000000;
    font-size: 55px;
    text-decoration: none;
    width: 90%;
    text-align: center;
    padding: 5px;
}
.menu__navi {
    width: 100%;
}
.title-tattoos{
    background-color: #e6b9674d;
    border-radius: 10px;
    border: 1px #000000;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    width: 700px;
    padding: 5px;
    margin: 10px;
}

#color{
    background-color: #18181a9a;
    border-radius: 10px;
    width: 90%;
    height: 213px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.imgcont {
    width: 100%;
    border-radius: 9px;
}
.imgmodal {
    width: 600px;
}
.btn1 {
    width: 230px;
}
#bandg{
    background-color: #18181a9a;
    border-radius: 10px;
    width: 90%;
    height: 213px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#linea{
    background-color: #18181a9a;
    border-radius: 10px;
    width: 90%;
    height: 213px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.imgmodal{
    width: 100%;
}
.logo1 {
    display: flex;
    align-items: center;
}
.logo_content {
    padding-bottom: 15px;
}
.cab {
    display: flex;
    height: 286px;
    justify-content: space-between;
}
.img-redes {
    display: flex;
    align-items: end;
    margin-left: 22px;
    margin: 0 0 12px 17px;
}
.footer__nav__menu {
    width: 90%;
}
.nav-list {
    display: flex;
    justify-content: space-around;
    padding: 0;
}
.list {
    display: flex;
}
.items-gral {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.presenta {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 100%;
}
.content-gral {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.aside-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 1000px;
    margin-top: 50px;
    border: 3px solid #4f4f4fd1;
}
.img-elec {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
iframe {
    width: 90%;
    height: 200px;
    border-radius: 10px;
    margin: 40px 0;
}
.mapas{
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer__content__redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.imgcarru {
    width: 50px;
    border-radius: 12px;
}
i {
    transition: all 0.3s ease;
    color: #e9e9e9a2;
    font-size: 40px;
}
i:hover {
    color: #a09ef0be;
    font-size: 45px;
}
.contentcarru {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5px;
    position: absolute;
}
.imgscroll {
    width: 580px;
    padding:  0 50px;
    border-radius: 15px;

}
.form-content {
    background-color: #4b4b4b65;
    border-radius: 20px;
    border: 3px solid #bdbdbd7c;
    width: 800px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 5px 15px #e9e9e9e5;
}
.form-content h1 {
    font-size: 50px;
    color: #eeeeeed8;
    margin: 50px 0;
}
.label-pal {
    font-size: 30px;
    color: #ecececd7;
    display: flex;
    justify-content: flex-start;
}
.form-items {
    list-style: none;
    margin: 15px 0;
}
.form1 {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.imput-content {
    width: 100%;
    background-color: #4e4e4ea2;
    border-radius: 8px;
    border: 2px solid hwb(0 38% 62% / 0.733);
    font-size: 18px;
    color: #e7e7e7c4;
    padding: 20px;
    box-shadow: 2px 2px 7px #f5f5f5;
    display: flex;
}
.btnform {
    float: left;
    width: 129px;
    font-size: 20px;
    background-color: #dfcaa4b8;
    color: #272727;
    margin: 20px 0;
    border-radius: 12px;
    cursor: pointer;
}
.btnform:hover{
    background-color: #616161c4;
    color: #dfcaa4b8;
}
.carousel {
    width: 66%;
}
.carousel-caption h5 {
    font-size: 40px;
    background-color: #d1d1d156;
    border: 2px solid #4646466c;
    border-radius: 12px;
}
.carousel-control-prev-icon {
    transition: all 0.3s ease;
    background-color: #737373bd;
    padding: 23px;
    border-radius: 10px;
}
.carousel-control-next-icon {
    transition: all 0.3s ease;
    background-color: #737373bd;
    padding: 23px;
    border-radius: 10px;
}
.carousel-control-prev-icon:hover {
    background-color: #8b92d3bd;
    padding: 26px;
}
.carousel-control-next-icon:hover {
    background-color: #8b92d3bd;
    padding: 26px;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
   display: flex;
   justify-content: center;
   align-items: center;
}
.carousel-item a img {
    width: 100%;
}
.modal-content{
    width: 500px;
    height: 300px;
    background-color: rgba(245, 222, 179, 0);
}
.carrucel-content {
    width: 700px;
    height: 900px;
}


@media (max-width: 1200px) and (min-width: 1019px) {
     body {
        background-color: #1d1d1d;
    }
}
@media (max-width: 1020px) and (min-width: 769px) {
    .grid-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:  
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    }
    body {
        background-color: #1d1d1d;
    }
    .aside-content {
       width: unset;
       height: unset;
       margin: 30px;
       flex-direction: row;
    }
    .menu {
        width: 100%;
        height: 100%;
        padding: 15px;
    }
}
  @media (max-width: 768px) and (min-width: 480px) {
    .grid-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:  
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    }
    .presenta {
        justify-content: center;
        align-items: center;
        
    }
    .carousel {
        width: 100%;
    }
    .aside-content {
        width: unset;
        height: unset;
        margin: 25px;
        flex-direction: column;
    }
    .content-gral {
        flex-direction: column;
    }
    body {
        background-position-x: center;
        background-repeat: unset;
    }
    .cab {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        height: 100%;
        background-image: none;
    }
    .img-redes {
        margin: 30px 50px 20px 50px;
        padding: 15px;
    }
    .img-redes__box {
        display: flex;
        justify-content: center;
    }
    .redes {
        width: 80%;
        border-radius: 30px;
    }
    .logo {
        width: 80%;
        margin: 0;
    }
    .logo1 {
        width: 80%;
        height: 60%;
        padding: 15px;
        display: flex;
        justify-content: center;

    }
    .footer-content {
        justify-content: center;
        flex-direction: column;
    }
    .redes-footer {
        width: 50%;
        margin: 24px;
    }
    .logo-footer {
        margin: 21px;
    }
    .carrucel-content {
        height: 100%;
    }
    .modalcont {
        position: fixed;
        top: 20%;
        left: 10%;
    }
    .modal-content {
        width: 70%;
    }
    .presenta p {
        width: 90%;
        height: auto;
    }
    .menu {
        width: 100%;
        height: 100%;
        padding: 20px 5px;
        margin: 5px 0;
    }
    .valorar {
        padding-top: 16px;
    }
    .footer__content__redes {
        flex-direction: column;
    }
    .nav-list {
        width: 100%;
        flex-direction: column;
    }
    .title-tattoos {
        width: 100%;
    }
    .dis {
        width: 100%;
        flex-direction: column;
     }
     .body-carrusel-design {
        width: 100%;
    }
    .titledis {
        width: 100%;
    }
    .prod {
        width: 100%;
    }
    .prod img {
        width: 100%;
    }
    .prod p {
        font-size: 75%;
        padding: 30px;
    }
  }
  @media (max-width: 481px) and (min-width: 320px) {
    .grid-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:  
        "header"
        "nav"
        "main"
        "aside"
        "footer";
    }
    .presenta {
        justify-content: center;
        align-items: center;
        
    }
    .aside-content {
        width: unset;
        height: unset;
        margin: 30px;
        flex-direction: column;
    }
    .content-gral {
        flex-direction: column;
    }
    .carousel  {
        width: 100%;
    }
    body {
        background-position-x: center;
        background-repeat: unset;
    }
    .cab {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        height: 100%;
        background-image: none;
    }
    .img-redes {
        margin: 30px 50px 20px 50px;
        padding: 15px;
    }
    .img-redes__box {
        display: flex;
        justify-content: center;
    }
    .redes {
        width: 80%;
        border-radius: 30px;
    }
    .logo {
        width: 80%;
        margin: 0;
    }
    .logo1 {
        width: 80%;
        height: 60%;
        padding: 15px;
        display: flex;
        justify-content: center;

    }
    .footer-content {
        justify-content: center;
        flex-direction: column;
    }
    .redes-footer {
        width: 50%;
        margin: 24px;
    }
    .logo-footer {
        margin: 21px;
    }
    .carrucel-content {
        height: 100%;
    }
    .modalcont {
        position: fixed;
        top: 20%;
        left: 10%;
        width: 90%;
    }
    .modal-content {
        width: 90%;
    }
    .presenta p {
        width: 90%;
        height: auto;
    }
    
    .menu {
        width: 100%;
        height: 100%;
        padding: 20px 5px;
        font-size: 25px;
        margin: 3px 0;
    }
    .valorar {
        padding-top: 16px;
    }
    .nav-list {
        width: 100%;
        flex-direction: column;
    }
    .footer__content__redes {
        flex-direction: column;
    }
    .form-content h2 {
        text-align: center;
    }
    .form1 {
        width: 100%;
    }
    .form-content {
        width: 100%;
        height: 1087px;
    }
    .title-tattoos {
        width: 100%;
    }
    .dis {
       width: 100%;
       flex-direction: column;
    }
    .body-carrusel-design {
        width: 100%;
    }
    .titledis {
        width: 100%;
    }
    .prod {
        width: 100%;
    }
    .prod img {
        width: 100%;
    }
    .prod p {
        font-size: 75%;
        padding: 30px;
    }
  }