.aside-content{
    background-color: $color-grey2-tr;
    border-radius: $radius;
    @include w-h ($full-with-margin, 1000px);
    @include flex-just-align-dire-wrap (space-evenly, center, column, none);
    margin-top: 50px;
     @include border-mx (b-grey);
}

//valuation stars
.valorar {
    @include flex-just-align-dire-wrap (none, none, column, none);
}
div.valoracion {
    overflow: hidden;
    display: inline-block;
    @include padd-marg (0 35px 0 0, 0 0 20px 0);
    @include border-mx (b-biege);
    border-radius: $radius;
}
  div.valoracion input {
    position: absolute;
    top: -100px;
}
  
  div.valoracion label {
    float: right;
    color: $color-grey2;
    width: 23px;
    font-size: 25px;
    cursor: pointer;
}
  
  div.valoracion label:hover,
  div.valoracion label:hover ~ label,
  div.valoracion input:checked ~ label {
    color: $color-yellow2;
}
.valora{
    background-color: $color-beige2-tr;
    border-radius: $radius;
    color: $color-grey3;
    font-size: 21px;
    @include w-h (175px, auto);
    @include flex-just-align-dire-wrap (center, none, none, none);
    padding: 11px;
    @include border-mx (b-biege);
}

.indicaciones {
    @include flex-just-align-dire-wrap (none, center, column, none);
}
.indicaciones p{
    font-size: 29px;
    text-align: center;
    color: $color-white;
    text-decoration: underline;
    @include flex-just-align-dire-wrap (none, center, none, none);
    margin: 14px;
}
.items-tat {
    padding: 0;
    li{
        @include border-mx (b-biege);
        border-radius: $radius;
        font-size: 18px;
        text-align: left;
        color: $color-white;
        list-style: none;
        @include padd-marg (12px, 12px);
    }
} 
.img-elec p{
    font-size: 18px;
    text-align: center;
    color: #d6d6d6;
}
.img-elec {
    @include flex-just-align-dire-wrap (center, center, column, none);
}