.footer-content {
    background-color: $color-grey2-tr;
    @include w-h ($full, $full);
    border-radius: $radius;
    margin-bottom: 20px;
    @include flex-just-align-dire-wrap (space-between, center, column, none);

    .mapas {
        @include flex-just-align-dire-wrap (center, none, none, none);
        width: $full;

        iframe {
            @include w-h ($full-with-margin, 200px);
            border-radius: $radius;
            margin: 40px 0;
        }
    }

    .footer__nav__menu {
        width: $full-with-margin;
    }

    .footer__content__redes {
        @include flex-just-align-dire-wrap (space-between, center, none, none);
        width: $full;

        .footer-cont {
            display: flex;
            margin: 0 0 0 17px;

            .img-redes__box {
                width: 70px;
                height: 70px;
            }

            .redes-footer {
                width: 70%;
                border-radius: $radius2;
                @include border-mx (b-yellow);
                margin: 4px;
                transition: $efect-transition;

                &:hover {
                    scale: 1.2;
                    box-shadow: 4px 4px 15px $color-yellow2;
                }
            }
        }

        .logo_content {
            padding-bottom: 15px;

            .logo-footer {
                @include w-h (200px, 200px);
                border-radius: $radius2;
                @include border-mx (b-grey);
                margin: 0 45px 0 0;
            }
        }
    }

    .footer__nav__menu {
        width: $full;

        .nav-list {
            @include flex-just-align-dire-wrap (space-around, none, none, none);
            padding: 0;

            .list {
                display: flex;

                .menu {
                    background-image: linear-gradient(to left, $color-grey2-tr, $color-beige2-tr);
                    border-radius: $radius1;
                    font-size: 40px;
                    box-shadow: 4px 4px 10px $color-black;
                    list-style: none;
                    text-decoration: none;
                    color: $color-grey3-tr;
                    cursor: pointer;
                    @include w-h (200px, 70px);
                    @include flex-just-align-dire-wrap (center, center, none, none);
                    transition: $efect-transition;

                    &:hover {
                        background-color: $color-grey3-tr;
                        color: $color-grey2-tr;
                    }
                }
            }
        }
    }
}