.content-gral {
    @include flex-just-align-dire-wrap(space-around, center, row, none);

    main button {
        bottom: unset;
        cursor: pointer;
    }
//
    .presenta {
        @include flex-just-align-dire-wrap(none, none, column, none);
        margin: 20px;
        height: $full;

        h1 {
            @include border-mx (b-grey);
            background-image: linear-gradient(to top, $color-grey2-tr,  $color-beige2-tr);
            width: 204px;
            border-radius: $radius;
            font-size: 37px;
            text-align: center;
            @include padd-marg (12px, 30px 0);
            color: $color-grey3-tr;
            cursor: auto;
            box-shadow: 4px 4px 10px $color-black;
        }

        .presentacion {
            background-image: linear-gradient(to top, $color-grey2-tr,  $color-beige2-tr);
            border-radius: $radius;
            color: $color-grey3-tr;
            box-shadow: 4px 4px 10px $color-black;
            font-size: 21px;
            @include padd-marg (15px, 0);
            @include w-h (202px, $full);
        }
    }

    .carousel {
        @include w-h ($full, $full);

        .carousel-inner {
            @include w-h ($full, $full);
            padding: 30px;
            
        }
        .carousel-item {
            height: $full;
            a img {
                @include w-h ($full, $full);
                border-radius: $radius1;
                    box-shadow: 4px 4px 15px $color-black;
    
    
            }
        }

        

        .carousel-caption h5 {
            font-size: 40px;
            background-color: $color-grey2-tr;
            @include border-mx (b-grey);
            border-radius: $radius1;
        }

        .carousel-control-prev-icon {
            transition: $efect-transition;
            background-color: $color-grey2-tr;
            padding: 23px;
            border-radius: $radius;

            &:hover {
                background-color: $color-blue-tr;
                padding: 26px;
            }


        }

        .carousel-control-next-icon {
            transition: $efect-transition;
            background-color: $color-grey2-tr;
            padding: 23px;
            border-radius: $radius;

            &:hover {
                background-color: $color-blue-tr;
                padding: 26px;
            }
        }
    }

    .form-content {
        background-color: $color-grey2-tr;
        border-radius: $radius1;
        @include border-mx (b-grey1);
        @include w-h ($full-with-margin, 1000px);
        @include flex-just-align-dire-wrap (center, center, column, none);
        box-shadow: 4px 5px 15px $color-grey3-tr;

        h1 {
            font-size: 50px;
            color: $color-grey3-tr;
            margin: 50px 0;
        }

        .form1 {
            width: 500px;
            @include flex-just-align-dire-wrap (center, none, column, none);

            .form-items {
                list-style: none;
                margin: 15px 0;

                .label-pal {
                    font-size: 30px;
                    color: $color-grey3-tr;
                    @include flex-just-align-dire-wrap (flex-start, none, none, none);
                }

                .imput-content {
                    width: $full;
                    background-color: $color-grey2-tr;
                    border-radius: $radius;
                    @include border-mx (b-grey);
                    font-size: 18px;
                    color: $color-grey3-tr;
                    padding: 20px;
                    box-shadow: 2px 2px 7px $color-white;
                    display: flex;
                }
            }

            .btnform {
                float: left;
                width: 129px;
                font-size: 20px;
                background-color: $color-beige2-tr;
                color: $color-grey3;
                margin: 20px 0;
                border-radius: $radius;
                cursor: pointer;
                transition: $efect-transition;

                &:hover {
                    background-color: $color-grey2-tr;
                    color: $color-beige2-tr;
                }
            }

        }
    }

    .posttattoo {
        background-color: $color-grey2-tr;
        border-radius: $radius;
        @include w-h ($full-with-margin, 1000px);
        @include padd-marg (10px 30px 30px 30px, 0 30px);
        @include flex-just-align-dire-wrap (center, center, column, none);

        .posttattoo1 {
            @include flex-just-align-dire-wrap (center, center, column, none);

            .cuidados {
                background-color: $color-beige2-tr;
                border-radius: $radius;
                font-size: 40px;
                text-decoration: underline;
                color: $color-grey3;
                text-align: center;
                width: $full-with-margin;
                margin-bottom: 45px;
            }

            .cicatrizado {
                background-color: $color-beige2-tr;
                border-radius: $radius;
                text-decoration: none;
                font-size: 30px;
                color: $color-grey3;
                text-align: center;
                width: $full-with-margin;
                @include padd-marg (15px, 20px);
            }

            .text {
                font-size: 17px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: $color-grey3;
            }
        }
    }

    .body-carrusel-design {
        @include w-h (800px, 1000px);
        @include flex-just-align-dire-wrap (center, center, column, none);

        .titledis {
            background-color: $color-beige2-tr;
            border-radius: $radius;
            @include border-mx (b-black);
            text-align: center;
            font-size: 40px;
            text-decoration: none;
            width: 500px;
            @include padd-marg (10px, 0 0 50px 0);
        }

        .dis {
            @include w-h ($full-with-margin, 800px);
            overflow: auto;
            @include flex-just-align-dire-wrap (space-around, center, none, wrap);

            .btn1 {
                width: 230px;
            }

            .imgcont {
                width: 230px;
                padding: 10px;
                border-radius: $radius1;
                box-shadow: 4px 4px 15px $color-black;
            }
        }

        .modal-content {
            @include w-h ($full, $full);
            background-color: rgba(245, 222, 179, 0);

            .imgmodal {
                @include w-h ($full, $full);
            }

            .carousel-control-prev-icon {
                transition: $efect-transition;
                background-color: $color-grey2-tr;
                padding: 23px;
                border-radius: $radius;

                &:hover {
                    background-color: $color-blue-tr;
                    padding: 26px;
                }
            }

            .carousel-control-next-icon {
                transition: $efect-transition;
                background-color: $color-grey2-tr;
                padding: 23px;
                border-radius: $radius;

                &:hover {
                    background-color: $color-blue-tr;
                    padding: 26px;
                }
            }



        }
    }

    .prod {
        background-color: $color-turquoise;
        border-radius: $radius;
        text-decoration: underline;
        font-size: 47px;
        color: $color-grey3;
        width: $full-with-margin;
        @include flex-just-align-dire-wrap (center, center, column, none);

        img {
            width: 700px;
        }

        p {
            font-size: 29px;
            padding: 50px;
            text-decoration: none;
        }
    }

    .tattoos {
        @include flex-just-align-dire-wrap (center, center, column, none);

        .realizados {
            background-color: $color-beige2-tr;
            border-radius: $radius;
            @include border-mx (b-black);
            font-size: 55px;
            text-decoration: none;
            width: $full-with-margin;
            text-align: center;
            padding: 5px;
        }

        .content-tattoos {
            @include flex-just-align-dire-wrap (center, center, column, none);
            padding: 15px;

            .title-tattoos {
                background-color: $color-beige2-tr;
                border-radius: $radius;
                @include border-mx (b-black);
                text-align: center;
                font-size: 40px;
                text-decoration: none;
                width: 700px;
                @include padd-marg (5px, 10px);
            }

            #color {
                @include layout-content-tattoo;

                .imgcont {
                    width: 230px;
                    border-radius: $radius1;
                    box-shadow: 4px 4px 15px $color-black;
                }
            }

            #bandg {
                @include layout-content-tattoo;

                .imgcont {
                    width: 230px;
                    border-radius: $radius1;
                    box-shadow: 4px 4px 15px $color-black;
                }
            }

            #linea {
                @include layout-content-tattoo;

                .imgcont {
                    width: 230px;
                    border-radius: $radius1;
                    box-shadow: 4px 4px 15px $color-black;
                }
            }
        }
    }
}