.navbar {
    background-color: $color-grey2-tr;

    .container-fluid {
        .navbar-brand {
            color: $color-grey3;
            font-size: 38px;
            margin: 0 20px;
            padding: 0 20px;

            &:hover {
                color: $color-beige2-tr;
                border-radius: $radius;
                @include border-mx (b-biege);
            }
        }

        .navbar-toggler {
            background-color: $color-grey3-tr;
        }

        .collapse {
            .d-flex {
                .btn {
                    background-color: $color-beige2-tr;
                    color: $color-grey3;
                    &:hover {
                        box-shadow: 0 0 10px $color-beige1, 0 0 15px $color-beige1;
                    }
                }

                .form-control {
                    background-color: $color-grey3-tr;
                }
            }

            .nav-link {
                color: $color-grey3;
                font-size: 30px;
                text-align: center;
                margin: 0 10px;

                &:hover {
                    color: $color-beige2-tr;
                    border-radius: $radius;
                    @include border-mx (b-biege);

                }


            }
        }
    }
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: $color-beige2-tr;

    li a {
        color: $color-white;
        text-align: center;

        &:hover {
            background-color: $color-grey2-tr;
            color: $color-black;
        }

        &:active {
            background-color: $color-beige1;
            color: $color-black;
        }

    }
}