.menu__navi {
    width: 100%;
    .nav-list {
        display: flex;
        justify-content: space-around;
        padding: 0;
        .list {
            display: flex;
            .menu{
                background-color: #060606d4;
                border-radius: 20px;
                border: 2px solid #afafaf36;
                font-size: 40px;
                list-style: none;
                text-decoration: none;
                color: #e7e7e7e3;
                cursor: pointer;
                width: 200px;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;transition: all 0.4s ease;
            }
            .menu:hover {
                background-color: #ddddddb4;
                color: #2b2b2be0;
            }
        }
    }
}


