.menu__navi {
    width: $full;
    .nav-list {
      @include flex-just-align-dire-wrap(space-around, none, none, none); 
        padding: 0;
        .list {
            display: flex;
            .menu{
                background-image: linear-gradient(to left, $color-grey2-tr, $color-beige2-tr);
                border-radius: $radius1;
                font-size: 40px;
                box-shadow: 4px 4px 10px $color-black;
                list-style: none;
                text-decoration: none;
                color: $color-grey3-tr;
                cursor: pointer;
                @include w-h (200px, 70px);
                @include flex-just-align-dire-wrap(center, center, none, none); 
                transition: $efect-transition;
            }
            .menu:hover {
                background-color: $color-grey3-tr;
                color: $color-grey2-tr;
            }
        }
    }
}


