//flex box

@mixin flex-just-align-dire-wrap ($jc, $ai, $fd, $fw) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
}

//sizes

@mixin w-h ($w, $h) {
    width: $w;
    height: $h;
}

//content image carousel tattoo

@mixin layout-content-tattoo {
    background-color: $color-grey2-tr;
    border-radius: $radius;
    @include w-h ($full-with-margin, 220px);
    overflow: auto;
    @include flex-just-align-dire-wrap (space-around, center, none, wrap);
    animation-name: animation-prod;
    animation-duration: 4s;
    animation-timing-function: ease-out;
}

//padding and margin

@mixin padd-marg ($pad, $mar) {
    padding: $pad;
    margin: $mar;
}

// border

@mixin border-mx ($bordermx) {
    @if $bordermx=="b-biege" {
        border: $border-beige;
    }

    @else if $bordermx == "b-grey" {
        border: $border-grey;
    }

    @else if $bordermx == "b-grey1" {
        border: $border-grey1;
    }

    @else if $bordermx == "b-black" {
        border: $border-black;
    }

    @else if $bordermx == "b-yellow" {
        border: $border-yellow;
    }

    @else {
        border: $border-red;
    }
}

@keyframes rot-logo {
    10% {
       scale: 1.1;
       box-shadow: 0 0 10px aliceblue, 0 0 20px aliceblue;
    }
    20% {
       scale: 1;
    }  
    30% {
       scale: 1.1;
       box-shadow: 0 0 10px aliceblue, 0 0 20px aliceblue;
    }  
    40% {
        scale: 1;
    }    
    50%{
        scale: 1.1;
        box-shadow: 0 0 10px aliceblue, 0 0 20px aliceblue;
    }
    60% {
       scale: 1;
    }
    70% {
        scale: 1.1;
        box-shadow: 0 0 10px aliceblue, 0 0 20px aliceblue;
    }
    80% {
       scale: 1;
    }
    90% {
       scale: 1.1;
       box-shadow: 0 0 10px aliceblue, 0 0 20px aliceblue;
    }
    100% {
       scale: 1;
    }
}
@keyframes name-logo {
    0%{
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes animation-prod {
    0%{
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}