.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  100px 300px 1100px 600px;
    grid-template-areas: 
    "nav    nav    nav    nav" 
    "header header header header"
     "main   main   main   aside"
    "footer footer footer footer";
    row-gap: 20px;

}
.navbar {
    grid-area: nav;
}
.cab {
    grid-area: header;
}
.content-gral {
    grid-area: main;
}
.aside-content {
    grid-area: aside;
}
.footer-content {
    grid-area: footer;
}