@media (max-width: 481px) and (min-width: 320px) {
    
    .content-gral {
        flex-direction: column;
    
        .carousel {
            width: 100%;
        }
    
        .body-carrusel-design {
            width: 100%;
    
            .titledis {
                width: 100%;
    
                .dis {
                    width: 100%;
                    flex-direction: column;
                }
            }
        }
        button .modalcont {
            position: fixed;
            top: 20%;
            left: 10%;
            width: 90%;
        }
        .modal .modal-dialog .modal-content {
            width: 100%;
            height: 90%;
            .carousel {
                width: 100%;
                .carousel-inner .carrucel-content {
                    height: 100%;
                }
            }
        }
        .tattoos .realizados .title-tattoos {
            width: 100%;
        }
    }
}
  